<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.coroutinesaac.example">

    <application
            android:allowBackup="false"
            android:icon="@drawable/shop"
            android:label="@string/app_name"
            android:roundIcon="@drawable/shop"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name="com.coroutinesaac.example.view.activity.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.coroutinesaac.example.view.activity.AddProductActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden"/>
    </application>

</manifest>